<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Lovers!</title>
    </head>
    <body style="background-color:lightblue;">
        <h1 style="font-family:verdana;"> Hi Movie Lovers!</h1>

        <p style="color:blue; font-size:160%;">The Movie Game</p>

        <form action="/game" method="post">
            <label style="font-family:courier;" for="title">Movie Charactersitic </label>
            <input type="search" name="title" id="title">
            <button type="submit" name="action" value="search">search</button>
        </form>
    </body>
</html>

