<h1>El Mejor Blog del Mundo</h1>


<% @latest_posts.each_with_index do |post, i| %>

    <ul>
    <li> 
      <h2><a href="/post_details/<%= i %>"><%= post.title %></a></h2>
    </li>
    <br>
  <% end %>
  </ul>




<!-- h2>Blog 1</h2>
  <form action="/login" method="POST">
    <input type="text" name="username" required>
    <input type="password" name="password" required>
    <button type="submit" name="action" value="register">login</button>
  </form>

<h2>Blog</h2>
  <form action="/register" method="POST">
    <input type="text" name="username" required>
    <input type="password" name="password" required>
    <button type="submit" name="action" value="register">register</button>
  </form>

 -->