<html>
<head>
  <title>Post Details</title>
</head>
<body>

	<h1>My Blog</h1>

	
<h2> <%= @current_post.title %> </h2>
<br>
<%= @current_post.date %>
<br>
<br>
<%= @current_post.content %>


</body>
</html>